body {
  zoom: 70%;
  background-image: url('bg.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'VT323', monospace;
}

h1 {
  font-weight: bold;
  color: #ff0095;
  font-family: 'Codystar', cursive;
}

#title {
  margin-top: 0;
  font-size: 70px;
  margin-bottom: 0;
}

#subtitle {
  margin-top: 0px;
}

.text-only {
  text-align: center;
}

#clock {
  position: absolute;
  left: 40px;
  color: #ff0095;
  font-family: 'Monoton', cursive;
  font-weight: lighter;
  font-size: 35px;
}

#messages {
  z-index: 10;
  top: 290px;
  position: absolute;
  text-align: center;
}

#message {
  height: 40px;
  font-size: 45px;
}

#sub-message {
  font-size: 28px;
}
#description {
  width: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  font-size: 27px;
}

canvas {
  width: 800px;
  height: 600px;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#canvas-wrapper {
  position: relative;
  border: 3px solid white;
  border-radius: 8px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.36);
}

input {
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  width: 500px;
  height: 35px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

button {
  font-family: 'VT323', monospace;
  font-size: 30px;
  background-color: rgb(161, 0, 94);
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 10px;
  height: 50px;
  width: 250px;
}

button:hover {
  cursor: pointer;
}

#controls {
  display: flex;
}

.links {
  border-radius: 7px;
  margin-top: 10px;
  margin-right: 15px;
  height: 45px;
  width: auto;
}

.links:hover {
  height: 48px;
}

#zoom {
  height: 63px;
  width: auto;
}

.zoomed {
  -moz-transform: scale(4);
  -webkit-transform: scale(4);
  transform: scale(4);
}

#modal {
    display: none;
    position: absolute;;
    z-index: 1;
    left: 50%;
    right: -50%;
    width: 25%;
    height: 25%;
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
    color: black;
    width: 80%;
    margin: 15% auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
}

#open-modal {
  text-align: center;
  width: 500px;
  padding-bottom: 0;
}
